<!-- DO NOT MODIFY -->
<div class="container">
  <h1 class="magician"> YOU ARE A MAGICIAN </h1>
  <h1>Make some Colors Appear!!!</h1>

  <a id="get_color" href="http://www.youtube.com/watch?v=pmZ3y9l-Zbw">Click Me</a>
</div>

<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
